#  venv repo
env/

# file containing private settings
pur_beurre_project/pur_beurre/settings.py

#  pychache repos
__pycache__/

# Repo containing various undeliverable files
99_other/

# Other unwanted file. to remove at the end


