#  venv repo
env/

# file containing private settings
pur_beurre_project/pur_beurre/settings.py

#  pychache repos
__pycache__/

# Repo containing various undeliverable files
99_other/

# Other unwanted file. to remove at the end
.vscode

# file containing migration
pur_beurre_project/authentication/migrations/
pur_beurre_project/supersub/migrations/
pur_beurre_project/authentication/migrations/0001_initial.py
pur_beurre_project/authentication/migrations/0002_auto_20210410_2330.py
pur_beurre_project/supersub/migrations/0001_initial.py
pur_beurre_project/supersub/migrations/0002_auto_20210413_2116.py

