{% extends 'supersub/base.html' %}

{% block content %}
    {% load static %}
    <!-- Masthead-->
    <!-- <header class="searchhead" id="searched">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-8 align-self-center mb-2">
                    <h2 class="text-white-75 mb-4">Mentions légales</h2>
                </div>
            </div>
        </div>
    </header> -->
    <!-- Mention légales-->
    <section class="page-section bg-white" id="contact">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-dark mt-0">Mentions légales</h2>
                    <hr class="divider light my-4" />
                    <p class="text-dark-75 mb-4">Mention légales ici</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}