{% extends 'supersub/base.html' %}

{% block content %}
    <!-- Masthead-->
        <header class="searchhead lg" id="searchhead" style="background-image:url('{{prod.image}}');">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-center text-center"> 
                    <div class="col-lg-8 align-self-center mb-2">
                        <h2 class="text-white-75 zl mb-4"> {{ prod.name }} </h2>
                        {% if messages %}
                            {% for message in messages %}
                                <div class="row">
                                    <div class="col">
                                        <h6 {% if message.tags %} 
                                                class="{{ message.tags }} zl mb-3"
                                            {% endif %}>
                                            {{ message }}
                                        </h6>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </header>
    <!-- Product dipslay section-->
    <div class="page-section bg-white text-dark" id="services">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <p class="h5 m-2">Nutriscore</p>
                    <ul class="list-group mt-4">
                        <li class="list-group h4 text-uppercase"> {{ prod.nutriscore_grade }} </li>
                    </ul>
                </div>
                <div class="col-md-6 text-center">
                        <p class="h5 m-2">Repères nutritionnels pour 100g</p>
                        <ul class="list-group mt-4">
                            <li class="list-group-item">{{ prod.fat|floatformat:"1" }}g <span class="font-weight-bold">de matière grasse</span></li>
                            <li class="list-group-item">{{ prod.saturated_fat|floatformat:"1" }}g <span class="font-weight-bold">d'acides gras saturés</span></li>
                            <li class="list-group-item">{{ prod.sugar|floatformat:"1" }}g <span class="font-weight-bold">de sucre</span></li>
                            <li class="list-group-item">{{ prod.salt|floatformat:"1" }}g <span class="font-weight-bold">de sel</span></li>
                        </ul>
                </div>
            </div>
            <div class="row">
                <div class="col pt-5 text-center">
                    <form action='{{ prod.url }}'>
                        <button type="submit" id="off_aliment" class="btn btn-primary">Voir la fiche d'OpenFoodFacts</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}